<div class="github-repo__name">{{name}}</div>
<div class="github-repo__actions">
  {{#if isConnected}}
    <div class="github-repo__sync">Connected</div>
    <a {{action remove}} class="github-repo__remove-link">Remove</a>
  {{else}}
    <button {{action connect}} class="clear small">Connect</button>
  {{/if}}
</div>
