<div class="github-repo__name" data-test-selector="github repo name">{{githubRepo.name}}</div>
<div class="github-repo__actions">
  {{#if githubRepo.isLoading}}
    Loading...
  {{else}}
    {{yield}}
  {{/if}}
</div>
